In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("files/bank.csv", sep=";")
df.head()

,Возраст,Работа,Семейный статус,Образование,Кредитный дефолт,Ипотека,Займ,Контакт,Месяц,День недели,...,Кампания,День,Предыдущий контакт,Доходность,Колебание уровня безработицы,Индекс потребительских цен,Индекс потребительской уверенности,Европейская межбанковская ставка,Количество сотрудников в компании,y
0,27,Самозанятый,Не женат / не замужем,Университетская степень,Нет,Нет,Нет,Городской телефон,Октябрь,Пятница,...,1,NaN,0,Отсутствует,-0.1,93.798,-40.4,5.045,5195.8,Нет
1,30,Преддприниматель,Женат / замужем,Университетская степень,Нет,Нет,Нет,Городской телефон,Октябрь,Пятница,...,1,NaN,0,Отсутствует,-0.1,93.798,-40.4,5.045,5195.8,Да
2,39,Голубой воротничок,Женат / замужем,Базовое (9 классов),Нет,Нет,Нет,Городской телефон,Октябрь,Пятница,...,1,NaN,0,Отсутствует,-0.1,93.798,-40.4,5.045,5195.8,Да
3,42,Менеджер,Женат / замужем,Высшая школа,Нет,Да,Да,Городской телефон,Октябрь,Пятница,...,1,NaN,0,Отсутствует,-0.1,93.798,-40.4,5.045,5195.8,Да
4,42,Самозанятый,Женат / замужем,Базовое (4 класса),Нет,Нет,Нет,Городской телефон,Октябрь,Пятница,...,1,NaN,0,Отсутствует,-0.1,93.798,-40.4,5.045,5195.8,Да

Согласно методическим указаниями, в bank.csv должны быть только столбцы 

1. Age – возраст клиента.
2. Job – профессия клиента (ее тип).
3. Martial – семейное положение клиента.
4. Education – уровень образования клиента.
5. Default – Имеется ли доступ к кредитным средствам в банке?
6. Housing – Наличие ипотеки на текущий момент.
7. Loan – Есть сейчас потребительский кредит.
8. Balance – Состояние личного счета клиента.
9. Contact – Тип связи с клиентом.
10. Month – Месяц, в котором был последний контакт с клиентом (в течение года).
11. Day– День, в который был последний контакт с клиентом (в течение недели).
12. Duration – Продолжительность последнего контакта с клиентом (в секундах).
13. Campaign – Количество контактов (звонки, сообщения и т.п.), выполненных в ходе этой кампании и для данного клиента.
14. Pdays – Количество дней, прошедших с момента последнего подключения клиента к предыдущей кампании.
15. Previous – Предыдущее количество контактов, выполненных до этой кампании для этого клиента.
16. Poutcome – Результат предыдущей маркетинговой кампании.
17. Deposit – Есть ли у клиента срочный вклад в банке.

В данный момент там так же еще есть следующие столбцы

1. Колебание уровня безработицы;
2. Индекс потребительских цен;
3. Индекс потребительской уверенности;
4. Европейская межбанковская ставка;
5. Количество сотрудников в компании; - этот столбец имеет в себе вещественные числа, что никак не вяжется с количеством сотрудников
6. y - очень таинственный столбец, не имею понятия что значит это категориальное "да/нет"

In [5]:
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Возраст                             41188 non-null  int64
 1   Работа                              41188 non-null  object
 2   Семейный статус                     41188 non-null  object
 3   Образование                         41188 non-null  object
 4   Кредитный дефолт                    41188 non-null  object
 5   Ипотека                             41188 non-null  object
 6   Займ                                41188 non-null  object
 7   Контакт                             41188 non-null  object
 8   Месяц                               41188 non-null  object
 9   День недели                         41188 non-null  object
 10  Длительность                        41186 non-null  float64
 11  Кампания                            41188 non-null  int64
 12  День                                1515 non-null   float64
 13  Предыдущий контакт                  41188 non-null  int64
 14  Доходность                          41188 non-null  object
 15  Колебание уровня безработицы        41188 non-null  float64
 16  Индекс потребительских цен          41188 non-null  float64
 17  Индекс потребительской уверенности  41188 non-null  float64
 18  Европейская межбанковская ставка    41188 non-null  float64
 19  Количество сотрудников в компании   41188 non-null  float64
 20  y                                   41188 non-null  object
dtypes: float64(7), int64(3), object(11)
memory usage: 6.6+ MB

In [6]:
df.describe()

,Возраст,Длительность,Кампания,День,Предыдущий контакт,Колебание уровня безработицы,Индекс потребительских цен,Индекс потребительской уверенности,Европейская межбанковская ставка,Количество сотрудников в компании
count,41188.00000,41186.000000,41188.000000,1515.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000
mean,40.02406,258.249041,2.567593,6.014521,0.172963,0.081886,93.575664,-40.502600,3.621291,5167.035911
std,10.42125,259.234158,2.770014,3.824906,0.494901,1.570960,0.578840,4.628198,1.734447,72.251528
min,17.00000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.00000,102.000000,1.000000,3.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,38.00000,180.000000,2.000000,6.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.00000,319.000000,3.000000,7.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,98.00000,4918.000000,56.000000,27.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

In [7]:
df.nunique()

Возраст                                 78
Работа                                  11
Семейный статус                          4
Образование                              8
Кредитный дефолт                         3
Ипотека                                  3
Займ                                     3
Контакт                                  2
Месяц                                   10
День недели                              5
Длительность                          1543
Кампания                                42
День                                    26
Предыдущий контакт                       8
Доходность                               3
Колебание уровня безработицы            10
Индекс потребительских цен              26
Индекс потребительской уверенности      26
Европейская межбанковская ставка       316
Количество сотрудников в компании       11
y                                        2
dtype: int64

In [7]:
feature_names = df.columns.tolist()
fp = open('files/textfile.txt', 'w', encoding='utf-8')
for column in feature_names:
  print(df[column].value_counts(dropna=False))
  fp.write(str(df[column].value_counts(dropna=False)) + '\n \n')
fp.close()

Возраст
31    1947
32    1846
33    1833
36    1780
35    1759
      ...
89       2
98       2
95       1
87       1
94       1
Name: count, Length: 78, dtype: int64
Работа
Менеджер                  13346
Голубой воротничок         9254
Техник                     6743
Обслуживающий персонал     3969
Самозанятый                2279
Пенсионер                  1720
Преддприниматель           1456
Домохозяйка                1060
Студент                     875
Неизвестно                  330
Cамозанятый                 156
Name: count, dtype: int64
Семейный статус
Женат / замужем          24928
Не женат / не замужем    11568
Разведен(-а)              4612
Неизвестно                  80
Name: count, dtype: int64
Образование
Университетская степень    12168
Высшая школа                9515
Базовое (9 классов)         6045
Профессиональный курс       5243
Базовое (4 класса)          4176
Базовое (6 классов)         2292
Неизвестно                  1731
Неграмотный                   18
Name: count, dtype: int64
Кредитный дефолт
Нет           32588
Неизвестно     8597
Да                3
Name: count, dtype: int64
Ипотека
Да            21576
Нет           18622
Неизвестно      990
Name: count, dtype: int64
Займ
Нет           33950
Да             6248
Неизвестно      990
Name: count, dtype: int64
Контакт
Сотовый телефон      26144
Городской телефон    15044
Name: count, dtype: int64
Месяц
Май         13769
Июль         7174
Август       6178
Июнь         5318
Ноябрь       4101
Апрель       2632
Октябрь       718
Сентябрь      570
Март          546
Декабрь       182
Name: count, dtype: int64
День недели
Четверг        8623
Понедельник    8514
Среда          8134
Вторник        8090
Пятница        7827
Name: count, dtype: int64
Длительность
90.0      170
85.0      170
136.0     168
73.0      167
124.0     164
         ...
2035.0      1
1246.0      1
1868.0      1
1556.0      1
1603.0      1
Name: count, Length: 1544, dtype: int64
Кампания
1     17642
2     10570
3      5341
4      2651
5      1599
6       979
7       629
8       400
9       283
10      225
11      177
12      125
13       92
14       69
17       58
16       51
15       51
18       33
20       30
19       26
21       24
22       17
23       16
24       15
27       11
29       10
26        8
25        8
28        8
30        7
31        7
35        5
32        4
33        4
34        3
40        2
43        2
42        2
41        1
37        1
56        1
39        1
Name: count, dtype: int64
День
NaN     39673
3.0       439
6.0       412
4.0       118
9.0        64
2.0        61
7.0        60
12.0       58
10.0       52
5.0        46
13.0       36
11.0       28
1.0        26
15.0       24
14.0       20
8.0        18
0.0        15
16.0       11
17.0        8
18.0        7
19.0        3
22.0        3
21.0        2
27.0        1
20.0        1
26.0        1
25.0        1
Name: count, dtype: int64
Предыдущий контакт
0    35563
1     4561
2      754
3      216
4       70
5       18
6        5
7        1
Name: count, dtype: int64
Доходность
Отсутствует        35563
Не присутствует     4252
Присутствует        1373
Name: count, dtype: int64
Колебание уровня безработицы
 1.4    16234
-1.8     9184
 1.1     7763
-0.1     3683
-2.9     1663
-3.4     1071
-1.7      773
-1.1      635
-3.0      172
-0.2       10
Name: count, dtype: int64
Индекс потребительских цен
93.994    7763
93.918    6685
92.893    5794
93.444    5175
94.465    4374
93.200    3616
93.075    2458
92.201     770
92.963     715
92.431     447
92.649     357
94.215     311
94.199     303
92.843     282
92.379     267
93.369     264
94.027     233
94.055     229
93.876     212
94.601     204
92.469     178
93.749     174
92.713     172
94.767     128
93.798      67
92.756      10
Name: count, dtype: int64
Индекс потребительской уверенности
-36.4    7763
-42.7    6685
-46.2    5794
-36.1    5175
-41.8    4374
-42.0    3616
-47.1    2458
-31.4     770
-40.8     715
-26.9     447
-30.1     357
-40.3     311
-37.5     303
-50.0     282
-29.8     267
-34.8     264
-38.3     233
-39.8     229
-40.0     212
-49.5     204
-33.6     178
-34.6     174
-33.0     172
-50.8     128
-40.4      67
-45.9      10
Name: count, dtype: int64
Европейская межбанковская ставка
4.857    2868
4.962    2613
4.963    2487
4.961    1902
4.856    1210
         ...
3.743       1
3.853       1
3.816       1
3.901       1
3.053       1
Name: count, Length: 316, dtype: int64
Количество сотрудников в компании
5228.1    16234
5099.1     8534
5191.0     7763
5195.8     3683
5076.2     1663
5017.5     1071
4991.6      773
5008.7      650
4963.6      635
5023.5      172
5176.3       10
Name: count, dtype: int64
y
Нет    36548
Да      4640
Name: count, dtype: int64

Согласно этому коду:
  
1. Возраст: С возрастом всё в порядке, он принимает значения от 31 до 94. Люди вполне могут столько жить
2. Работа: Менеджер и голубой воротничок - одно и то же, будто бы.

In [17]:
features = df.drop('Возраст', axis=1)
labels = df['Возраст']
features

,Работа,Семейный статус,Образование,Кредитный дефолт,Ипотека,Займ,Контакт,Месяц,День недели,Длительность,Кампания,День,Предыдущий контакт,Доходность,Колебание уровня безработицы,Индекс потребительских цен,Индекс потребительской уверенности,Европейская межбанковская ставка,Количество сотрудников в компании,y
0,Самозанятый,Не женат / не замужем,Университетская степень,Нет,Нет,Нет,Городской телефон,Октябрь,Пятница,24.0,1,NaN,0,Отсутствует,-0.1,93.798,-40.4,5.045,5195.8,Нет
1,Преддприниматель,Женат / замужем,Университетская степень,Нет,Нет,Нет,Городской телефон,Октябрь,Пятница,223.0,1,NaN,0,Отсутствует,-0.1,93.798,-40.4,5.045,5195.8,Да
2,Голубой воротничок,Женат / замужем,Базовое (9 классов),Нет,Нет,Нет,Городской телефон,Октябрь,Пятница,270.0,1,NaN,0,Отсутствует,-0.1,93.798,-40.4,5.045,5195.8,Да
3,Менеджер,Женат / замужем,Высшая школа,Нет,Да,Да,Городской телефон,Октябрь,Пятница,103.0,1,NaN,0,Отсутствует,-0.1,93.798,-40.4,5.045,5195.8,Да
4,Самозанятый,Женат / замужем,Базовое (4 класса),Нет,Нет,Нет,Городской телефон,Октябрь,Пятница,478.0,1,NaN,0,Отсутствует,-0.1,93.798,-40.4,5.045,5195.8,Да
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,Пенсионер,Разведен(-а),Высшая школа,Нет,Да,Нет,Сотовый телефон,Октябрь,Понедельник,222.0,1,NaN,0,Отсутствует,-1.1,94.601,-49.5,1.000,4963.6,Да
41184,Пенсионер,Разведен(-а),Высшая школа,Нет,Да,Да,Сотовый телефон,Октябрь,Понедельник,567.0,1,3.0,1,Присутствует,-1.1,94.601,-49.5,1.000,4963.6,Да
41185,Пенсионер,Разведен(-а),Базовое (4 класса),Нет,Да,Нет,Сотовый телефон,Октябрь,Понедельник,102.0,3,3.0,2,Присутствует,-1.1,94.601,-49.5,1.000,4963.6,Нет
41186,Пенсионер,Разведен(-а),Базовое (4 класса),Нет,Да,Нет,Сотовый телефон,Октябрь,Понедельник,180.0,2,NaN,0,Отсутствует,-1.1,94.601,-49.5,1.000,4963.6,Нет
41187,Пенсионер,Разведен(-а),Базовое (4 класса),Неизвестно,Да,Да,Сотовый телефон,Октябрь,Понедельник,138.0,4,3.0,1,Присутствует,-1.1,94.601,-49.5,1.000,4963.6,Нет

In [ ]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values=np.nan,
                        strategy='constant')
imputer.fit(features)